<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tiankong44.tool.mapper.master.TabMapper">

    <insert id="insertTab" useGeneratedKeys="true" keyProperty="id">
        insert into tab(name, inside_url, external_url, hex, description, individual, sort, icon)
        values (#{entity.name}, #{entity.insideUrl}, #{entity.externalUrl}, #{entity.hex}, #{entity.description},
                #{entity.individual}, (SELECT max_value from (select (max(sort) + 1) as max_value from tab) as a),
                #{entity.icon})
    </insert>
</mapper>